li{
  
  list-style:none;
}

header{
  
  background-color : #eee;
}
#wrap {
  
  margin:20px 0px;
  overflow:auto;
  background-color : #ccc;
}

footer{
  clear:left;
  background-color : #eee;
}

.left{
  background-color: #47c;
  margin-right:3%;
  width:17%;
}

.right{
  background-color: #47c;
  text-align:center;
  width:80%;
}
.right > h2 {
  
  position:relative;
  
}
.right  .emotiocon{
  position : absolute;
  top: 0px;
  right:40px;
  color:#fff;
}
.left, .right{
  float:left;
  height:200px;
}

